In [1]:
import pandas as pd
import seaborn as sn
import matplotlib.pyplot as plt

In [2]:
from sklearn import datasets

In [3]:
iris=datasets.load_iris()

In [4]:
iris_df=pd.DataFrame(iris.data)

In [5]:
iris_df.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [6]:
iris_df.columns = ['s_len','s_wid','p_len','p_wid']

In [7]:
iris_df['target']=iris.target

In [8]:
iris_df.head()

   s_len  s_wid  p_len  p_wid  target
0    5.1    3.5    1.4    0.2       0
1    4.9    3.0    1.4    0.2       0
2    4.7    3.2    1.3    0.2       0
3    4.6    3.1    1.5    0.2       0
4    5.0    3.6    1.4    0.2       0

In [9]:
iris_df.isnull().sum()

s_len     0
s_wid     0
p_len     0
p_wid     0
target    0
dtype: int64

In [10]:
import warnings 
warnings.filterwarnings("ignore")

In [11]:
new_df=iris_df.drop('target',axis='columns')

In [12]:
target=iris_df.target

In [13]:
from sklearn.model_selection import train_test_split

In [14]:
x_train , x_test , y_train,y_test =train_test_split(new_df,target,test_size=0.2)

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
model = LogisticRegression()

In [17]:
model.fit(x_train,y_train)

LogisticRegression()

In [21]:
model.predict([[12.1,18.5,20.4,0.1]])

array([2])

In [22]:
model.score(x_test,y_test)

0.9333333333333333